@font-face {
    font-family: digitalNumber;
    src: url(font/digital-7.ttf) format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
body{
    width: 40vw;
    margin: 0 auto;
    background: #aec378;
    color: white;
    main{
        background-color: rgb(27, 27, 27);
        padding: 15px;

        #digital{
            border: 1px solid white;
            margin-bottom: 20px;
            padding: 10px 10px;
            text-align: right;
            font-family: digitalNumber;
            font-size: 48px;
            letter-spacing: 6px;
            height: 1.5em;
            overflow: hidden;
            #calcu,#ans{
                margin: 0;
                padding: 0;
            }
            #calcu{
                font-size: 0.5em;
            }
            #ans{
                font-size: 1em;
            }
        }
        #wrap{
            display: grid;
            grid-template-areas:"AC AC backspace backspace"
                                "seven eight nine divide"
                                "four five six multiply"
                                "one two three subtract"
                                "dot zero equal add" ;
            text-align: center;
            gap:2px;
            .btn{
                font-family: 'Open Sans', sans-serif;
                font-size: 22px;
                border: 1px solid white;
                padding: 15px;
                border-radius: 5px;
                cursor: pointer;
                &:hover{
                    transition: 0.3s ease-in-out;
                    background-color: lightgray;
                }
                &:active{
                    transition: none;
                    background-color: gray;
                }
            }
        }
    }
}